
body {
       margin:0;
       padding:0;
       background-image: url("images/memesbackground-3.png");/*send it behind the rest of the content*/
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       min-height: 100vh;
    }


    body {
      margin:0;
      padding:0;  
      background-color: black;
      color:yellow;
      font-family:'Bungee', sans-serif;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      min-height: 100vh;
    }

 p{
    color:rgb(212, 214, 215);
    font-size: 20px; 
    text-align:left;
    margin-top: 20px;
    white-space: nowrap;
    max-width: 45ch;
    padding: 20px;   
 }

 p{
    color:rgb(255, 255, 255);
    font-size: 20px; 
    text-align:left;
    margin-top: 20px;
    white-space: nowrap;
    max-width: 45ch;
    padding: 20px;
 }
