 body {
       margin:0;
       padding:0;
       background-image: url("images/memes background.png");/*send it behind the rest of the content*/
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       min-height: 100vh;
    }
p{
    color:aliceblue;
    font-size: 20px; 
    text-align:left;
    margin-top: 250px;
    text-align: nowrap;
    max-width: 45ch;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
}
p{
  display: inline-block;
  white-space:normal; /*allows wrapping*/
  animation: typing 4s steps(40) forwards;
}
@keyframes typing {
  from {color: transparent;} /*hide text initially*/
  to {color:aliceblue;}  /*reveal text*/
}




.nav-links{
  display: flex;
  justify-content: flex-end; /* pushes all children (links/buttons) to the right */
  border: 5px yellow solid;
  background: black;
  padding: 20px;
  border-radius: 5px;
  color: yellow;
  line-height: 0.75;
  width: 15ch;
  margin-left:auto;
  margin-right:20%;
  gap:10px;
  margin-top: -220px;
   }

.live{
  display: flex;
  justify-content: flex-end; /* pushes all children (links/buttons) to the right */
  border: 5px yellow solid; 
  background: black;
  padding: 20px;
  border-radius: 5px;
  color: yellow;
  line-height: 0.75;
  width: 15ch;
  margin-left:auto;
  margin-right:20%;
  gap:10px;
  margin-top: 20px;
   }
a{
   color:yellow;
    text-decoration-color:yellow;
    font-family: serif;
    font-size: 22px;
}