
h1 {
        font-family: 'Bungee', cursive;
        font-size: 3.5em;
        margin: 30px; 
        text-align: center;
        align-self:flex-start;
        animation: forwards;
    }


p {
        font-size: 1em;
        margin: 30px;
        text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.8);
        text-align: center;
        align-self:flex-start;
       
        /*typewriter effect*/
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        animation: typewriter 4s steps(40) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal;
    }
@keyframes typewriter {
        from { width: 0; }
        to { width: 100%; }
    }

@keyframes blinkTextCursor {
        from { border-right-color: rgb(33, 44, 5, 0.75); }
        to { border-right-color: transparent; }
    }


body {
    margin:0;
    padding:0;
    overflow:hidden;
    background:linear-gradient(to bottom, #e0ff31 0%, #a0b020 25%, #606010 50%,#000000 100%);
    height:100vh;
}

.falling-image {
  position: absolute;
  width: 80px;
  height: 88px;
  animation: fall 3s ease-in forwards;
}

.message1, .message2, .message3, .message4 {
    position:absolute;
    top:-50px;
    width:60px;
    height:60px;
    animation: fall 5s ease-in 2s forwards;
}

/*Style the images inside the divs*/
.message1 img, .message2 img, .message3 img, .message4 img {
    width:100%;
    height:100%
    object-fit contain;
}

@keyframes fall {
   0% {top:-50px;
    opacity:1;
}
    100% {
        top: 100vh;
        opacity:0;
    }
  }

    .message1 {
      width:290px;
      height:290px;
        left: 1%;
        animation-delay: 0.5s;
    }
    .message2 {
      width:320px;
      height:320px;
        left: 55%;
        animation-delay: 2s;
    }
    .message3 {
      width:310px;
      height:310px;
        left: 80%;
        animation-delay: 2.5s;
    }
    .message4 {
      width:320px;
      height:320px;
        left: 28%;
        animation-delay: 1.5s;
    }

.nav-links{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
  justify-content: flex-end; /* pushes all children (links/buttons) to the right */
  gap: 10px; /* spacing between items */
  background: none;
  padding: 20px;
  color: rgb(9, 130, 25);
  line-height: 0.75;
  width: 15ch;
   }